<dom-module id="paper-typeahead">

  <style>
    :host {
      display: block;
      padding-top: 40px;
      box-sizing: border-box;
      width:50%;
      font-family: 'Press Start 2P', cursive;
    }

    h4 {
      font-size: 24px;
      margin: 30px 0 0 0;
      padding: 0;
      color: #FFEE58;
      text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
      font-weight: normal;
    }

    paper-input {
      --paper-input-container-input:{
        font-family: 'Press Start 2P', cursive !important;
        color: #ffffff;
      }
      --paper-input-container-underline:{
        background-color: #ffffff;
        height:3px;
      }
      --paper-input-container-underline-focus:{
        background-color: #ffee58;
        height:3px;
      }
    }

    paper-item {
      font-family: 'Press Start 2P', cursive !important;
      font-size: 10px;
    }
    
  </style>

  <template>
    <!-- TODO: POST -->
    <iron-ajax
    auto
    url="{{ remoteUrl }}"
    method="GET"
    handle-as="json"
    on-response="_handleResponse"></iron-ajax>

    <h4>Servicio</h4>
    <paper-input value="{{ serviceValue }}"></paper-input>
    <h4>Query</h4>
    <paper-input id="queryInput" value="{{ queryValue }}"></paper-input>

    <div hidden="{{ listHidden }}">
      <paper-material>
        <paper-menu>
          <template is="dom-repeat" items="{{ results }}">
            <paper-item>
              <span>{{ item }}</span>
            </paper-item>
          </template>
        </paper-menu>
      </paper-material>
    </div>

  </template>

</dom-module>

<script>

  'use-strict';

  Polymer({
    is: 'paper-typeahead',
    properties:{
      serverUrl: {
        value: 'http://52.18.67.14',
        readOnly: true 
      },
      remoteUrl: {
        value: '',
        type: String,
        notify: true
      },
      queryValue: {
        type: String,
        notify: true,
        observer: '_queryValueChanged'
      },
      serviceValue: {
        type: String,
        notify: true,
        observer: '_serviceValueChanged',
        value: 'lechuckcors'
      },
      results: {
        type: Array,
        value: [],
        notify: true,
        observer: '_resultsChanged'
      },
      listHidden: {
        type: Boolean,
        value: true,
        notify: true
      }
    },
    _resultsChanged: function(newValue, oldValue){
      this.listHidden = (newValue.length > 0) ? false : true;
    },
    _handleResponse: function(event){
      var response = event.detail.response;
      if(this.queryValue !== ''){
        this.results = response.map(function(item){
          return item.data;
        });
      }
    },
    /*_highLightText: function(){
      var texto = document.getElementById('queryInput').value;
      var pattern = new RegExp("("+texto+")", "gi");
      var lista = document.getElementsByTagName('paper-item');
      for (var i = 0; i < lista.length; i++) {
        var srcString = lista[i].outerText;
        srcString = srcString.replace(pattern, "<mark>$1</mark>");
        srcString = srcString.replace(/(<mark>[^<>]*)((<[^>]+>)+)([^<>]*<\/mark>)/,"$1</mark>$2<mark>$4");
        lista[i].innerHTML = '<span class="style-scope paper-typeahead">'+srcString+'</span>';
      };
    },*/
    _queryValueChanged: function(newValue, oldValue){
      if(newValue == ''){
        this.remoteUrl = this.serverUrl;
      }else{
        if(newValue.length > 1){
          this.remoteUrl = this.serverUrl + '/' + this.serviceValue +'/search?text=' + newValue;
        }else{
          this.results = [];
        }
      }
    },
    _serviceValueChanged: function(newValue, oldValue){
      if(newValue == ''){
        this.remoteUrl = this.serverUrl;
      }else{
        if(newValue.length > 1){
          this.remoteUrl = this.serverUrl + '/' + newValue +'/search?text=' + this.queryValue;
        }else{
          this.results = [];
        }
      }
    }
  });

</script>